/*.logo {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: auto;
}

*/
/*
.logo {
  position: fixed;
  width: 15%;
  max-width: 600px;
  position: fixed;
  top: 0;
  left: 0;
/*  padding: 10px;*/
/*  z-index: 1000;*/
/*}

@media (max-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 40%;
  }
}
*/
.logo {
  position: fixed;
  width: 15%;
  max-width: 500px;
  top: 0;
  left: 0;
  /* Uncomment these lines if needed */
  /* padding: 10px; */
  /* z-index: 1000; */
}

/* Adjust the logo size for smaller screens */
@media (max-width: 768px) {
  .logo {
    width: 50%;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 40%;
  }
}

/* Define the background styles */
body {
  background-image: url('./logobackground.png');
  background-repeat: repeat-x;
  
}
